<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %> - colin.id</title>
    <meta name="description" content="<%= @description %>">
    <style>
      *, *::before, *::after {
        box-sizing: border-box;
      }

      * {
        margin: 0;
      }

      img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
      }

      :root {
        --max-width: 45rem;
        --font-main: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
        --font-size: 20px;
        --background-color: #fff;
        --text-color: #000;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --background-color: #000;
          --text-color: #fff;
        }
      }

      html, body {
        height: 100%
      }
      body {
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
        margin: 0px auto;
        max-width: var(--max-width);
        line-height: 1.5;
        font-family: var(--font-main);
        font-size: var(--font-size);
        color: var(--text-color);
        text-decoration: none;
        padding: 0 1rem;
      }

      a {
        color: var(--text-color);
        text-decoration: none;
      }
      a:before {
          content:"{"
      }
      a:after {
          content:"}"
      }
      a:hover, a:focus {
          background-color: var(--text-color);
          color: var(--background-color);
          text-decoration:none
      }
      h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        margin: 1rem 0;
      }

      h1 {
        font-size: 1.5em;
      }

      h2 {
        font-size: 1.17em;
      }

      h3 {
        font-size: 1em;
      }

      h4 {
        font-size: 0.83em;
      }

      header nav ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 0;
        margin: 0.75rem 0;
      }
      header nav ul li {
        list-style: none;
      }
      header nav ul li.active-nav-item a {
        background-color: var(--text-color);
        color: var(--background-color);
      }
      main {
        margin: 1rem 0;
        flex: 1 0 auto;
      }
      footer {
        flex-shrink: 0;
        font-size: 16px;
      }
      footer > p {
        text-align: right;
      }
      hr {
        margin: 0;
      }
      p {
        margin: .5rem 0;
      }
      article.posts {
        display: flex;
      }
      article.posts time {
        flex: 0 0 7rem;
        margin-right: 1.5rem;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li <%= if @output_path === "./output/index.html", do: "class='active-nav-item'"%>>
            <a href="/">colin.id</a>
          </li>
          <li <%= if @output_path === "./output/posts/index.html", do: "class='active-nav-item'"%>>
            <a href="/posts" >Posts</a>
          </li>
          <li <%= if @output_path === "./output/projects/index.html", do: "class='active-nav-item'"%>>
            <a href="/projects">Projects</a>
          </li>
          <li <%= if @output_path === "./output/now/index.html", do: "class='active-nav-item'"%>>
            <a href="/now">Now</a>
          </li>
        </ul>
      </nav>
    </header>
    <hr>
    <main>
      <%= @inner_content %>
    </main>
    <%= if @hide_footer == false do %>
    <hr>
    <footer>
      <p><em>Made with <a href="https://github.com/sw3dish/statisch">statisch</a></em></p>
    </footer>
    <% end %>
  </body>
</html>
