---%%%---
title = "Home"
description = "Recent writing"
published_date = "2023-11-17"
template = "page"
---%%%---
<%= for post <- @posts do%>
<article class="posts">
  <time datetime="<%= post.metadata.published_date %>"><em><%= post.metadata.published_date %></em></time> <a href="/"><%= post.metadata.title %></a> 
</article>
<% end %>
